database:
  mysql:
    host: "2"
    port: 2
    user: "2"
    passwd: "2"
    db_name: "2"

  postgres:
    host: "localhost"
    port: 5432
    db_name: "mydb"
    user: "user"
    passwd: "pass"

  redis:
    host: "localhost"
    port: 6379
    db_name: 0

  mongodb:
    host: "localhost"
    port: 27017
    db_name: "mydb"
    user: "user"
    passwd: "pass"
